
body {
	background-color: #2d2a26;
}

.center-container {
	margin-left: 30%;
	margin-right: 30%;
}

footer {
 bottom: 0;
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: white;
  text-align: center;
}